.block-language-meld-build-toolbar{
	display: grid;
	grid-column-gap: 1em;
    grid-row-gap: 1em;
	grid-auto-flow: column;
	justify-content: start;
}

.markdown-reading-view .block-language-meld-build-toolbar{
	padding:0.5em 0;
}